<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.discoverskool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiscoverSkool"
        tools:targetApi="31">
        <activity
            android:name=".Classes.InternationalActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.TVETSActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.HighActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.PrimaryActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.ItemDetails"
            android:exported="false" />
        <activity
            android:name=".Auth.LogInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Auth.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Classes.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Classes.AddSchool"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Classes.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>